<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWeatherService" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_IWeatherService" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vasiliglk-001-site1.dtempurl.com/Service.svc/WeatherService.WeatherService"
        binding="webHttpBinding" bindingConfiguration="WebHttpBinding_IWeatherService"
        contract="WeatherService.IWeatherService" name="WebHttpBinding_IWeatherService" />
      <endpoint address="http://localhost:16088/Service.svc/WeatherService.WeatherService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeatherService"
        contract="ServiceReference1.IWeatherService" name="BasicHttpBinding_IWeatherService" />
    </client>
  </system.serviceModel>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWeatherService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vasiliglk-001-site1.dtempurl.com/Service.svc/WeatherService.WeatherService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeatherService"
                contract="ServiceReference1.IWeatherService" name="BasicHttpBinding_IWeatherService" />
        </client>
    </system.serviceModel>
</configuration>